* {
   color: #ffffff;
   font-size: 18px;
   font-weight: 400;
   box-sizing: border-box;
}

body {
   background-color: #DC384E;
}

html {
   min-width: 100%;
   border: 1px solid green;
}


.container {
   max-width: 1200px;
   margin: 0 auto;

}

header {
   margin: 0 auto;
   padding: 40px 12px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   letter-spacing: 0.4px;
}

.header-menu {
   box-sizing: border-box;

}

header .header-menu ul {
   font-family: "Helvetica Neue", Arial, sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 800px;
   list-style: none;
   padding: 0;
}

.header-hidden-menu {
   display: none;
}



section {
   /* width: 1200px; */
   margin: 0 auto;
}



.borsch-1 {
   display: flex;
}

.section1-text {
   font-size: 2em;
}

.section1-text h3 {
   font-size: 0.7em;
   letter-spacing: 0.8px;
}

.section-1-img {
   min-width: 567px;
   min-height: 567px;
   /*  */
}

.section-1-img img {
   height: 100%;
   width: 100%;
   opacity: 0.8;
   max-width: 567px;
   max-height: 554px;
}

.button-group {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 84%;
}

.section1-buttons {
   text-decoration: none;
   border: 1px solid ghostwhite;
   padding: 20px 35px;
   letter-spacing: 0.5px;
}

.section1-buttons span {
   font-size: 1.2em;
}

.buy_for_youself,
.buy_for_youself span {
   background-color: aliceblue;
}

.buy_for_youself span {
   font-size: 1.2em;
   color: black;
}

.borsch-2 {
   padding-top: 200px;
   padding-bottom: 150px;
}

.borsch-2 h2 {
   width: 700px;
   font-size: 1.8em;
   padding-bottom: 40px;
}

.working-items {
   display: flex;
   justify-content: space-between;
}

.working-items div {
   width: 30%;
}

.working-items div h3 {
   font-size: 1.6em;
}

.working-items div p {
   font-size: 1.2em;
}

.section-3-4 {
   padding: 100px 0;
   background-color: #f25570;
   margin: 0 auto;
}

.borsch-3 {
   max-width: 1100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.section-3-img {
   width: 48%;
}

.section-3-img img {
   height: 520px;
   width: 520px;
}

.section-3-text {
   width: 48%;
}

.section-3-text h2 {
   width: 75%;
   font-size: 3.2em;
}

.section-3-text p {
   font-size: 1.1em;
   letter-spacing: 0.5px;
}

.borsch-4 {
   margin: 90px auto 0;
   width: 1000px;
}

.borsch-4-divs span {
   font-size: 2.5em;
}

.borsch-4-divs div:first-child {
   width: 50%;
   margin-left: 20px;
}

.borsch-4-divs div:last-child {
   margin-right: 20px;
   text-align: end;
}

.borsch-4-block-1 {
   display: flex;
   justify-content: space-between;
   padding: 50px 0;
   border-top: 1px solid white;
}

.borsch-4-block-2 {
   display: flex;
   justify-content: space-between;
   padding: 50px 0;
   border-top: 1px solid white;
}

.borsch-4-block-3 {
   display: flex;
   justify-content: space-between;
   padding: 50px 0;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
}

.borsch-5 {
   width: 550px;
   margin: 25px auto;
   text-align: center;
   padding-top: 5%;
   padding-bottom: 5%;
   font-family: 'Montserrat', sans-serif;
}


.borsch-5-p1 {
   font-size: 3.2em;
   margin: 0;
}

.borsch-5-flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

.borsch-5-p23 {
   letter-spacing: 0.5px;
   padding: 5px 0;
}

.borsch-5-flex-1 {
   padding: 12px 10px;
   background-color: white;
   color: black;
   border: 1px solid white;
   width: 40%;
}

.borsch-5-flex-2 {
   padding: 12px 0px;
   border: 1px solid white;
   width: 40%;
   box-sizing: border-box;
}

.borsch-6 {
   width: 1100px;
   display: flex;
   justify-content: space-evenly;
}

.borsch-6-flex-1 {
   width: 40%;
}

.borsch-6-flex-2 {
   width: 40%;
   padding-top: 80px;
}

.borsch-6 a {
   text-decoration: none;
   color: inherit;
}

.items {
   margin-bottom: 100px;
}

.item-1-inner {
   max-width: 390px;
   min-width: 390px;
   min-height: 390px;
   max-height: 390px;
   border-radius: 50%;
   background-color: #F25570;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 35px;
}

.item-1-inner img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.item-1-description {
   text-align: center;
   width: 90%;
}

.color-yellow {
   color: yellow;
}

.item-1-description h3 {
   font-size: 1.8em;
   margin: 0;
}

.item-1-description-p2 {
   margin: 10px auto 0px;
}

.item-1-description-flex-items {
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
}

.item-1-description-flex-items p {
   font-size: 1.8em;
}

.item-1-description-flex-items img {
   width: 60%;
}


.borsch-7 {
   padding-top: 120px;
   width: 100%;
   background-color: #ffffff;
}

.borsch-7 h1 {
   color: black;
   margin: 0px auto 10px;
   font-size: 3.5em;
   text-align: center;
}

.reviews-flex-box {
   display: flex;
   justify-content: space-between;
   padding: 3%;
   margin: 0 auto;
}

.reviews-flex-box div {
   display: flex;
   align-items: center;
   font-size: 1.4em;
   color: #4c4c4c;
   width: 32%;
   border-radius: 2px;
   text-align: center;
   letter-spacing: 1px;
   box-shadow: inset 2px 0px 22px 3px rgba(227, 233, 255, 0.8);
}

.arrows {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 0 auto;
   width: 250px;
   margin: 0 auto;
   padding-bottom: 50px;
}

.arrow-1-2 {
   background-color: #f5f7f8;
   text-align: center;
   padding: 15px 17px;
   border-radius: 50%;
}

.arrows i {
   color: #858585;
   font-size: 1.8em;
   opacity: 0.8;
}




.borsch-8 h1 {
   text-align: center;
   color: black;
   font-size: 2.8em;
}

.borshch-8-flex-box {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding-bottom: 20px;
}

.borshch-8-flex-box div {
   width: 30%;
}

.borshch-8-flex-box img {
   width: 340px;
}

.borshch-8-flex-box .blocks p {
   color: white;
   text-align: center;
   letter-spacing: 1px;
   color: #4c4c4c;
}










@media only screen and (max-width: 1024px) {
   .header-hidden-menu {
      display: block;
      margin-right: 12px;
   }

   .header-hidden-menu i {
      font-size: 1.3em;
   }

   .logo-and-hidden-menu {
      display: flex;
      width: 10%;
      justify-content: space-between;
      align-items: center;
   }

   .header-menu {
      display: none;
   }

   .container {
      padding-left: 25px;
      padding-right: 25px;
      box-sizing: border-box;
   }

   .borsch-1 {
      display: flex;
      flex-wrap: wrap;
   }

   .section1-text h1 {
      font-size: 2.9em;
      text-align: center;
   }

   .section1-text h3 {
      font-size: 1em;
   }

   .button-group {
      width: 80%;
      justify-content: space-around;
      margin: 0 auto;
   }

   .section1-buttons {
      padding: 35px 55px;
   }

   .section1-buttons span {
      font-size: 2em;
   }


   .section-1-img {
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .section-1-img img {
      margin-top: 60px;
   }
}








@media only screen and (max-width: 678px) {
   .header-hidden-menu i {
      font-size: 4em;
      padding-right: 30px;
   }

   .header-logo-2 img {
      display: none;
   }

   .header-logo img {
      width: 150%;
      padding-left: 30px;
   }

   .section1-text h1 {
      font-size: 3em;
   }

   .section1-text h3 {
      font-size: 1.2em;
      letter-spacing: 2px;
   }

   .section1-buttons span {
      font-size: 2.3em;
   }
}